#product_banner {
  background-image: linear-gradient(to right top, #00695be0, #012a2bb9),
    url("../../../assert/images/banner/_322099.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 65vh;
  position: relative;
}
#content_center {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
}
